<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <display-name>Assignment3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAdmission</display-name>
    <servlet-name>StudentAdmission</servlet-name>
    <servlet-class>StudentAdmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdmission</servlet-name>
    <url-pattern>/StudentAdmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionServerlet</display-name>
    <servlet-name>AdmissionServerlet</servlet-name>
    <servlet-class>AdmissionServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionServerlet</servlet-name>
    <url-pattern>/AdmissionServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admission</display-name>
    <servlet-name>Admission</servlet-name>
    <servlet-class>Admission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admission</servlet-name>
    <url-pattern>/Admission</url-pattern>
  </servlet-mapping>
</web-app>